<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File 업로드</title>
    <style>
        #book-list{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 10px;
        }
        #book-list-item{
            display: flex;
            flex-direction: column;
        }
        img{
            width: 140px;
            height: 200px;
        }
    </style>
</head>
<body>
    <h1>File 업로드</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <button type="submit">Upload</button>
    </form>
    <div id="book-list">
        {% for item in booklist %}
        <div id="book-list-item">
            <a href="/uploads/{{item.id}}"><img src = "/{{item.path}}"/></a>
            <div> {{item.name}} </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>